/* 0-767px */
.footer {
    background-color: #2e2f42;
    padding: 96px 0;    
}
.footer-wrapper {
    display: flex;    
    flex-wrap: wrap;    
    gap: 72px;
    justify-content: center;
}
.footer-con-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer .logo {   
    padding: 0;
    margin-bottom: 16px;        
}
.footer .word-studio {
    color: #F4F4FD;
}

.footer-txt {
    color: #FFFFFF;    
}

.title-con-icons {
    font-weight: 500;
    text-align: center;
    margin-bottom: 16px;    
}

.footer-con-icons .card-list-icons {
    gap: 16px;
}

.subscribe-box {
    display: flex;
    gap: 16px;
    flex-direction: column;    
    align-items: center;
}

.subscribe-box-input {
    height: 40px;
    width: 288px;
    border: 1px solid #ffffff;
    background: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
}

.subscribe-box-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-family: "Roboto", sans-serif; */
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    gap: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}


.subscribe-box-button-icons {    
    fill: rgba(255, 255, 255, 1);
}


/* tablet 768px + */
@media screen and (min-width: 768px) {
    
    .footer-wrapper {       
       gap: 72px 24px;
       width: 584px;
       justify-content: flex-start;
    }
    .footer-con-txt {
        align-items: start;
    }
    .footer-txt {
        max-width: 264px;
        text-align: justify;
    }
    .subscribe-box {        
        flex-direction: row;        
    }
    .subscribe-box-input {
        max-width: 264px;
    }

}


/* desktop 1158px + */
@media screen and (min-width: 1158px) {

    .footer {        
        padding: 100px 0;     
    }
    
    .footer-wrapper {        
        align-items: baseline;        
        gap: 0;
        width: 1158px;    
    }
    .footer-con-txt {
        margin-right: 120px;
    }    
    
    .footer-con-icons {        
        margin-right: 80px;
    }
    
    .title-con-icons {
        font-weight: 500;            
    }
    
    .footer-con-icons .card-list-icons {
        gap: 16px;
    }
    
    .footer-con-icons .link:hover,
    .footer-con-icons .link:focus {
        background-color: #31D0AA;
    }
      
    .subscribe-box-button {
      cursor: pointer;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
    }
    
    .subscribe-box-button:hover,
    .subscribe-box-button:focus {
        background-color: #404BBF;            
    }
    
}

